.castList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 30px 100px;

  .creditContainer {
    display: flex;
    width: 500px;
    gap: 30px;

    .posterContainer {
      width: 100px;
      border: none;
      border-radius: 10px;
      overflow: hidden;
      flex-shrink: 0;
      background-color: black;

      .poster {
        width: auto;
      }
    }

    .boldText {
      font-weight: bold;
    }
  }
}
